{% extends "bootstrap/base.html" %}

{% block title %}TimeClock{% endblock %}  <!-- title block inherited from bootstrap/base.html -->

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
type="image/x-icon">
{% endblock %}

{% block navbar %}  <!-- Navigation base HTML will go here -->
    <div class="navbar navbar-default" role="navigation" style="border-radius: 0; font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased;
    background-color: #2a6496; border-color: #2a6496;">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index') }}" style="color:white">TimeClock Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    {% if current_user.is_administrator() %}
                         <li><a href="{{ url_for('auth.admin_register') }}" style="color:white">Register User</a></li>
                        <li><a href="{{ url_for('main.all_history') }}" style="color:white">All History</a></li>
                    {% endif %}
                        <li><a href="{{ url_for('main.history') }}" style="color:white">History</a></li>
                    <li><a href="{{ url_for('auth.change_password') }}" style="color:white">Change Password</a></li>
                        <li><a href="{{ url_for('auth.logout') }}" style="color:white">Sign Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}" style="color:white">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" style="font-family: 'Sofia Pro Soft'; -webkit-font-smoothing: antialiased">
    {% for category, message in get_flashed_messages(with_categories=True) %}
        {% if category == 'error' %}
            <div class="alert alert-danger">
        {% else %}
            <div class="alert alert-{{ category }}">
        {% endif %}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
    {% endfor %}

    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}



{% block scripts %} <!-- Include any JS scripts here -->
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
